@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face{
  font-family: myFont;
  src: url('/public/fonts/eurostile-lt-pro-unicode/EurostileLTProUnicode.otf');
}
body {
  overflow-x: hidden !important;  
  font-family: myFont;
}
.swiper-pagination-fraction,
.swiper-pagination-custom,
 .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 5px;

}

.swiper-pagination-bullet {
  background-color: white; /* Change bullet color */
  width: 10px;
  height: 10px;
  transition: 0.3s;
  opacity: 1;
}
.markets .swiper-pagination-bullet{
  background-color: rgba(126, 126, 126, 0.47);
}
.swiper-pagination-bullet-active {
  background-color: #353535; /* Active bullet color */
  opacity: 1;
  width: 16px;
  height: 10px;
  border-radius: 50px;
}
.markets .swiper-pagination-bullet-active{
  background-color: rgba(0, 0, 0, 0.888);
}
.text-input {
   position: relative;
   width: 100%;
   margin: 40px 0px;
}
.text-input label{
   position: absolute;
   top: 4px;
   left: 0;
   color: #4A4A4A;
   font-weight: 600;
   font-size: 16px;
   pointer-events: none;
   transition: all 0.3s ease;
}
.text-input input{
  
  transition: .1s;
  padding: 5px 0;
  width: 100%;
  color: #4A4A4A;
}
.text-input input:focus{
  border-bottom: 2px solid black;
  outline: none;
}



.text-input label.focused {
  top: -16px;
  font-size: 12px;
  color: black;
  font-weight: 700;
}
.card-blog{
  overflow: hidden;
}
.card-blog:hover img{
  transform: scale(1.09);
  transition: all .4s;

  
}
.product-card {
  background-color: rgb(227, 227, 227);
  transition: all .5s;
}
.product-card:hover {
  background-color: black;
}
.product-card h2{
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.product-card:hover h2{
  color: white;
  transition: all ease-in-out;
}
.product-card .title{
  color: #474747;
  font-size: 16px;
}
.product-card:hover .title{
  color: #ebebeb;
  font-size: 16px;
}
.product-card .desc{
  color: #878787;
  font-size: 12px;
}

