@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1, h2, h3, h4, h5, h6 {
    font-size: revert;
    font-weight: revert;

  }


  ul, ol {
    list-style-type: disc; /* إعادة أنماط القوائم */
  }

}
@font-face{
  font-family: myFont;
  src: url('/public/fonts/eurostile-lt-pro-unicode/EurostileLTProUnicode.otf');
}

body {
  overflow-x: hidden !important;  
  /* font-family: myFont; */
  font-family: "Open Sans", sans-serif;
  /* cursor: none; */
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
 .swiper-horizontal > .swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal{
  bottom: 5px;

}

.swiper-pagination-bullet {
  background-color: white; /* Change bullet color */
  width: 10px;
  height: 10px;
  transition: 0.3s;
  opacity: 1;
}
.markets .swiper-pagination-bullet{
  background-color: rgba(126, 126, 126, 0.47);
}
.swiper-pagination-bullet-active {
  background-color: #353535; /* Active bullet color */
  opacity: 1;
  width: 16px;
  height: 10px;
  border-radius: 50px;
}
.markets .swiper-pagination-bullet-active{
  background-color: rgba(0, 0, 0, 0.888);
}
.text-input {
   position: relative;
   width: 100%;
   margin: 40px 0px;
}
.text-input label{
   position: absolute;
   top: 4px;
   left: 0;
   color: #4A4A4A;
   font-weight: 600;
   font-size: 16px;
   pointer-events: none;
   transition: all 0.3s ease;
}
.text-input input{
  
  transition: .1s;
  padding: 5px 0;
  width: 100%;
  color: #4A4A4A;
}
.text-input input:focus{
  border-bottom: 2px solid black;
  outline: none;
}



.text-input label.focused {
  top: -16px;
  font-size: 12px;
  color: black;
  font-weight: 700;
}
.card-blog{
  overflow: hidden;
}
.card-blog:hover img{
  transform: scale(1.09);
  transition: all .4s;

  
}
.product-card {
  background-color: rgb(227, 227, 227);
  transition: all .5s;
}
.product-card:hover {
  background-color: black;
}
.product-card h2{
  color: black;
  font-size: 18px;
  font-weight: 600;
}
.product-card:hover h2{
  color: white;
  transition: all ease-in-out;
}
.product-card .title{
  color: #474747;
  font-size: 16px;
}
.product-card:hover .title{
  color: #ebebeb;
  font-size: 16px;
}
.product-card .desc{
  color: #878787;
  font-size: 12px;
}

.fade-img {
  position: absolute;
  top: 0;
  left: 0;
  transition: opacity 2s ease-in-out;
}

.fade-img-visible {
  opacity: 1;
}

.fade-img-hidden {
  opacity: 0;
}



.products-show{
  display: none;
  position: absolute;
  top: 30px;
  width: 900px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
}
.products-menu{
  width: 900px;
  box-shadow: 5px 5px 20px rgba(174, 174, 174, 0.427);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  padding: 20px;
}
.products:hover .products-show{
  display: flex;
 }

.market-show{
  display: none;
  position: absolute;
  top: 30px;
  width: 1000px;
  left: 50%;
  transform: translateX(-50%);
  padding-top: 15px;
}
.market-menu{
  width: 1000px;
  box-shadow: 5px 5px 20px rgba(174, 174, 174, 0.427);
  background-color: #ffffff;
  color: rgb(0, 0, 0);
 
  padding: 20px;
}
.market:hover .market-show{
  display: flex;
 }
 .sub_features li{
   border-bottom:1px solid black ;
   padding: 7px 0;
 }
 .sub_features li:last-child{
  border-bottom:none ;
  
}


/* المؤشر الداخلي */
.cursor-inner {

  width: 10px;
  height: 10px;
  background-color: black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 1000;
  transform: translate(-50%, -50%);
}

/* المؤشر الخارجي */
.cursor-outer {
  position: fixed;
  width: 40px;
  height: 40px;
  border: 2px solid black;
  border-radius: 50%;
  pointer-events: none;
  z-index: 999;
  transform: translate(-50%, -50%);
}

/* حالة التفاعل (Hover) */
.cursor-outer.hover {
  width: 60px;
  height: 60px;
  background-color: rgba(0, 0, 0, 0.1);
  border: none;
}

.cursor-inner.hover {
  background-color: white;
  width: 16px;
  height: 16px;
}

/* عناصر قابلة للنقر */
/* .hoverable,.cursor-pointer {
  cursor: none;
} */

